server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
          routes:
            # 1. Product Service
            - id: product-service
              uri: lb://product-service
              predicates:
                - Path=/api/products/**
            
            # 2. Order Service
            - id: order-service
              uri: lb://order-service
              predicates:
                - Path=/api/orders/**
              filters:
                - AuthenticationFilter
                - name: CircuitBreaker
                  args:
                    name: orderCircuitBreaker
                    fallbackUri: forward:/fallback/order

            # 3. Inventory Service
            - id: inventory-service
              uri: lb://inventory-service
              predicates:
                - Path=/api/inventory/**
              filters:
                - AuthenticationFilter
                - name: CircuitBreaker
                  args:
                    name: inventoryCircuitBreaker
                    fallbackUri: forward:/fallback/inventory

            # 4. Auth Service
            - id: auth-service
              uri: lb://auth-service
              predicates:
                - Path=/auth/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

resilience4j:
  circuitbreaker:
    instances:
      orderCircuitBreaker:
        registerHealthIndicator: true
        slidingWindowSize: 10          # Monitor last 10 calls
        permittedNumberOfCallsInHalfOpenState: 3
        waitDurationInOpenState: 5s    # Wait 5s before trying again
        failureRateThreshold: 50       # Open circuit if 50% fail
      inventoryCircuitBreaker:
        registerHealthIndicator: true
        slidingWindowSize: 10
        permittedNumberOfCallsInHalfOpenState: 3
        waitDurationInOpenState: 5s
        failureRateThreshold: 50
  timelimiter:
    instances:
      orderCircuitBreaker:
        timeoutDuration: 3s         # Timeout after 3s
management:
  tracing:
    sampling:
      probability: 1.0               # Sample all requests for tracing
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans