name: Microservices CI Pipeline
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service:
          [
            discovery-service,
            api-gateway,
            auth-service,
            product-service,
            order-service,
            inventory-service,
            notification-service,
          ]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"
          cache: maven

      - name: Build ${{matrix.service}}
        run: mvn -B clean package --file ${{matrix.service}}/pom.xml
